body {
    font-family: 'Poppins', sans-serif;
}

.hero-section {
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
}

.search-box {
    max-width: 900px;
    margin: 0 auto;
}

.card img {
    height: 250px;
    object-fit: cover;
}

.newsletter input {
    border-radius: 30px;
    padding: 10px 20px;
}

.btn-primary {
    background-color: #007bff;
    border: none;
}

.btn-primary:hover {
    background-color: #0056b3;
}
/* Đưa nút điều hướng ra ngoài slide */
.custom-carousel-btn {
    top: 50%;
    transform: translateY(-50%);
    width: auto;
}

.carousel-control-prev.custom-carousel-btn {
    left: -60px; /* chỉnh khoảng cách bên trái */
}

.carousel-control-next.custom-carousel-btn {
    right: -60px; /* chỉnh khoảng cách bên phải */
}

/* Tùy chỉnh icon nếu muốn */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-size: 100% 100%;
}
